.cache
.icons
.lesshst
.mozilla
.local
.pki
.vscode
.vscode-oss
/Desktop
/Documents
/Downloads
.config/BraveSoftware/
.config/Code/
.config/'Code - OSS'/
.config/dconf/
.config/discord/
.config/nemo/
.config/pomotroid/
.config/procps/
.config/pulse/
.config/discord/
.config/nemo/
.config/pomotroid/
.config/procps/
.config/pulse/
.config/spotify/
.config/vscode-sqltools/
.config/yay/
.config/yay-bin/
.config/config-dwm/

